@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  border: none;
}

img {
  display: block;
  max-width: 100%;
}

menu,
ol,
ul {
  padding-left: 0;
}

article ol,
article ul {
  list-style-position: inside;
}

html {
  -webkit-text-size-adjust: none;
  /* for iOS Safari */
  text-size-adjust: none;
  /* for other mobile browsers */
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

 .custom-webkit-properties {
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}




.underline-hover-effect {
  padding-bottom: 0.25rem;
  /* defines the space between text and underline */
  position: relative;
}

.link-color-1 {
  --color: #07eaf8;
}

.link-color-2 {
  --color:#b207f8 
}

.link-color-3 {
  --color: #ed091c
}

.link-color-4 {
  --color: #eda80e
}


.underline-hover-effect::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20px;
  height: 4px;
  background-color: var(--color);
  transition: width 0.25s ease-out;
}

.underline-hover-effect:hover::before {
  width: 100%;
}

.gradient-text {
  background: linear-gradient(135deg, #07eaf8 0%, #b207f8 33%, #ed091c 66%, #edde09 100%);
  background-clip: text;
  color: transparent;
}